.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  position: relative;
  top: -90px;
}

@media (min-width: 767px) {
  .main-container {
    top: -110px;
  }
}
