.todo-list {
  width: 100%;
  max-width: 340px;
  list-style: none;
  border: none;
  border-radius: 5px;
  background-color: var(--container-bg);
  margin: 20px 0 0 0;
  padding: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.todo-item {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: grab;
}

.complete-btn {
  border: none;
  background-color: var(--container-bg);
  cursor: pointer;
  display: flex;
  gap: 20px;
  color: var(--font-color2);
}

.check-circle {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-color: var(--font-color2);
}

.check-icon {
  display: flex;
  height: 20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(135deg, #5cb3ff 0%, #a25bfe 100%);
  pointer-events: none;
}

.check {
  height: 15px;
  width: 15px;
}

.delete-btn {
  border: none;
  background-color: var(--container-bg);
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .todo-list {
    max-width: 600px;
  }
}
